In [1]:
import pandas as pd

urls = ["https://stats.bis.org/api/v2/data/dataflow/BIS/WS_EER/1.0/?format=csv"]

df = pd.concat([pd.read_csv(url) for url in urls])
df

,FREQ,EER_TYPE,EER_BASKET,REF_AREA,UNIT_MEASURE,TIME_FORMAT,COLLECTION,TITLE_TS,TIME_PERIOD,OBS_VALUE,OBS_STATUS,OBS_CONF,OBS_PRE_BREAK
0,M,N,N,CH,882,NaN,A,Switzerland - Nominal - Narrow (27 economies),1964-01,23.61,A,F,NaN
1,M,N,N,CH,882,NaN,A,Switzerland - Nominal - Narrow (27 economies),1964-02,23.56,A,F,NaN
2,M,N,N,CH,882,NaN,A,Switzerland - Nominal - Narrow (27 economies),1964-03,23.55,A,F,NaN
3,M,N,N,CH,882,NaN,A,Switzerland - Nominal - Narrow (27 economies),1964-04,23.59,A,F,NaN
4,M,N,N,CH,882,NaN,A,Switzerland - Nominal - Narrow (27 economies),1964-05,23.78,A,F,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168786,D,N,B,SG,882,NaN,A,Singapore - Nominal - Broad (64 economies),2025-07-18,113.86,A,F,NaN
1168787,D,N,B,SG,882,NaN,A,Singapore - Nominal - Broad (64 economies),2025-07-19,NaN,H,F,NaN
1168788,D,N,B,SG,882,NaN,A,Singapore - Nominal - Broad (64 economies),2025-07-20,NaN,H,F,NaN
1168789,D,N,B,SG,882,NaN,A,Singapore - Nominal - Broad (64 economies),2025-07-21,113.90,A,F,NaN
1168790,D,N,B,SG,882,NaN,A,Singapore - Nominal - Broad (64 economies),2025-07-22,113.76,A,F,NaN

In [ ]:
#FREQ only keep D
#create 2 dataframes one for EER_TYPE N one for R